# Ignore build artifacts
bin/
obj/

# Ignore test project
test/
xunit/
pester/

# Ignore VSCode files
.vscode/

# macOS system files
.DS_Store

# Ignore misc files
/psmodule/_install.ps1
/psmodule/_mynotes.txt